body {
   font-family: Arial, sans-serif;}

/* Header Styles */
header {
    background-color: #6c63ff; /* Dark purple background */
    color: white; /* White text */
    padding: 20px; /* Space around content */
    text-align: center; /* Center the text */
}

header h1 {
    font-size: 3em; /* Large font for main title */
}

header p {
    font-size: 1.8em; /* Slightly smaller font for description */
}

/* Section Title Styles */
section h2 {
    color: #6c63ff; /* Purple text for section titles */
    text-align: center; /* Center the text */
    margin: 20px 0; /* Space above and below */
}
/* Introduction Section */
#introduction {
    padding: 10px; /* Padding inside the section */
    background-color: #ececff; /* Light purple background */
    text-align: center; /* Center the text */
}